.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputs > input {
  border-radius: 0px;
  border: 1px solid var(--grey);
  padding: 10px;
  width: 300px;
  margin-top: 10px;
}


.inputs > label {
  display: block;
  margin-top: 10px;
}
.btn {
  margin-top: 20px;
}
.btn > button {
  padding: 10px 20px;
  background-color: var(--orange);
  border: none;
  border-radius: 0px;
  margin: 10px 0;
  font-size: 17px;
  color: white;
}

.inputs > div > select {
  border-radius: 0px;
  border: 1px solid var(--grey);
  padding: 10px;
  max-width: 300px;
  margin-top: 10px;
}

.inputs > select > option {
  padding: 10px;
}

.categoriesContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.categoriesContainer > select {
  margin-left: 10px;
}

.multiplecont{
  position: relative;
  max-width: 100px;
  width: 100%;
  /* margin: 80px auto 30px; */
  margin: 10px;
}
.selectbtn{
  border-radius: 0px;
  border: 1px solid var(--grey);
  padding: 10px;
  max-width: 300px;
  margin-top: 10px;
}
.selectbtn .btn-text{
  font-size: 17px;
  font-weight: 400;
  color: #333;
}
.selectbtn .arrowDwn{
  display: flex;
  height: 21px;
  width: 21px;
  color: #fff;
  font-size: 14px;
  border-radius: 50%;
  background: #6e93f7;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.selectbtn .open .arrow-dwn{
  transform: rotate(-180deg);
}

.listItems {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.itemText {
  padding: 3px;
}

 .selected {
  background-color  : var(--brightOrange);
  color: white;
}

.item {
  margin: 5px;
}


.variants {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
}

.variantsCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #ccc;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 10px;
  
}

.size, .color, .quantity {
  display: flex;
  flex-direction: column;
}

.size > label, .color > label, .quantity > label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.size > select, .color > select {
  border-radius: 0px;
  border: 1px solid var(--grey);
  padding: 10px;
  /* max-width: 300px; */
  margin-top: 10px;
}

.quantity > input {
  border-radius: 0px;
  border: 1px solid var(--grey);
  padding: 10px;
  /* width: 300px; */
  margin-top: 10px;

}

.removebtn {
  padding: 0.6rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 2px;
}

.removebtn:hover {
  background-color: #444;
}

.addVariantbtn {
  padding: 0.5rem 1rem;
  background-color: rgb(0, 140, 255);
  color: #fff;
  border: none;
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
  .inputs > input {
    width: 100%;
  }

  .categoriesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .categoriesContainer > select {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .variants {
    width: 100%;
  }
.variantsCont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
}
.size, .color, .quantity {
  width: 100%;
}
.size > select, .color > select {
  width: 100%;
}

.size > label, .color > label, .quantity > label {
  margin-left: 10px;
}
.categoriesContainer > select {
  margin-bottom: 10px;
}
}
