.footer {
  background: linear-gradient(45deg, #282828, #383838);
  color: #F1F1F1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  text-align: center;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
}

.linkContainer {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.linkContainer a {
  color: #F1F1F1;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.linkContainer a:hover {
  color: #B8B8B8;
}

.social {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;

}

.social a {
  color: #F1F1F1;
  transition: color 0.3s ease;
}

.social a:hover {
  color: #B8B8B8;
}

.form {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap ;
}

.form > input, .form > button {
  padding: .5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
}


.form > button {
  background: linear-gradient(45deg, #F1F1F1, #B8B8B8);
  color: #282828;
  cursor: pointer;
  transition: background 0.3s ease;
}

.form > button:hover {
  background: linear-gradient(45deg, #B8B8B8, #F1F1F1);
}

.bottomText {
  font-size: .875rem;
  position: absolute;
  bottom: 10px;
}


@media only screen and (max-width: 600px){

.form > input {
  width: 80%;
}
}