.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column  ;
}


.productsTrue {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.products{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

 .productsFalse > h1 {
    font-size: 18px;
 }

.categories {
    padding: 10px;
    display: grid;
    grid-auto-flow: column;
    column-gap: 1rem;
    overflow-x: auto;
    margin-bottom: 20px;
}


.productsCount {
    position: absolute;
    top: -30px;
    left: 30px;
}